:root {
  --clr-bg-color: #e0e0e0;
  --clr-color: #333333;
  --clr-strong: #ff6a13;
  --clr-accent: #62a8d5;

  /*sizes*/
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-s: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}
*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", system-ui, Arial, Helvetica, sans-serif;
  user-select: none;
  background-color: #abb1fc;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}
button {
  display: inline-block;
  padding: 0;
  border: none;
  background-color: none;
  cursor: pointer;
  color: inherit;
}
/* section start */
/* navbar */
.logoImg {
  height: 2em;
  width: 7em;
  opacity: 0;
  animation: logoImg 0.7s ease-in-out 400ms forwards;
}
@keyframes logoImg {
  from {
    transform: translateX(20%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.navBar {
  /* background-color: #5159be; */
  background-color: #8c92e6;
  padding: 1em;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  animation: nav-load 0.7s ease-in-out;
}
@keyframes nav-load {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
.navBar:hover {
  transform: scale(1.005);
  box-shadow: 0px 0px 10px #006c5b;
}
.navBarList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  /* opacity: 0; */
  color: var(--clr-bg-color);
  /* animation: nav-list 0.9s ease-in-out 400ms forwards; */
}
@keyframes nav-list {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.navBarList ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.navBarList ul li {
  list-style-type: none;
  font-size: var(--size-base);
  font-size: var(--size-lg);
  font-weight: bold;
  transition: 0.3s;
  opacity: 0;
  animation: navbar-ul 2s 200ms forwards;
}
@keyframes navbar-ul {
  from {
    transform: translateX(-200%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.navBarList ul li:hover {
  color: var(--clr-strong);
}
.navBarList button {
  background-color: teal;
  height: 40px;
  width: 80px;
  opacity: 0;
  border: 1px solid rgb(7, 69, 69);
  border-radius: 2em;
  font-size: var(--size-base);
  transition: 0.3s;
  animation: button-ani 2s 500ms forwards;
}
@keyframes button-ani {
  from {
    opacity: 0;
    background-color: #c3c6f5;
    color: black;
  }
  to {
    opacity: 1;
  }
}
.navBarList button:hover {
  background-color: rgb(7, 69, 69);
  border: 1px solid teal;
}
/* navbar end */
/* hero section */
.heroSection {
  display: flex;
  height: calc(100svh - 4em);
  background-color: #abb1fc;
}
.heroSection-left {
  padding: var(--size-8xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.heroSection-left h1 strong {
  color: white;
}
.heroSection-left h1 {
  font-size: var(--size-6xl);
  opacity: 0;
}
.hero-h1-1 {
  animation: hero-h1-1 1s ease-in-out 1s forwards;
}
@keyframes hero-h1-1 {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
.hero-h1-2 {
  margin-bottom: 0.5em;
  animation: hero-h1-2 1s ease-in-out 1s forwards;
}
@keyframes hero-h1-2 {
  from {
    opacity: 0;
    transform: translateX(10%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
.heroSection-left p {
  opacity: 0;
  animation: hero-p 2s ease-in-out 1.5s forwards;
}
@keyframes hero-p {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.heroSection-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightImgContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: var(--size-4xl);
  animation: rightImg 2s forwards;
}
@keyframes rightImg {
  from {
    opacity: 0;
    border-radius: 50em;
    transform: scale(1.08) rotate(-5deg);
    width: 30%;
  }
  tp {
    opacity: 1;
    width: 80%;
  }
}
.rightImgContainer:hover img {
  transform: scale(1.04) rotate(-1deg);
}
.heroSection-right img {
  transition: 0.4s;
}
/* hero section end */
/* section 2 (cards section) */
.section2-Container {
  padding: 3em;
  height: 80svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b1b6f7;
}
.section2-Container h1 {
  font-size: var(--size-5xl);
}
.section2-cardsContainer {
  margin: var(--size-base);
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-around;
}
.card1 {
  margin: var(--size-base);
  background-color: white;
  border-radius: 1em;
  overflow: hidden;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
}
.card1 p {
  text-align: center;
}
.card1 a {
  height: 10%;
}
.card1:hover {
  transform: scale(1.02) rotate(-5deg);
}
.card2 {
  margin: var(--size-base);
  background-color: white;
  border-radius: 1em;
  overflow: hidden;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
}
.card2 p {
  text-align: center;
}
.card2 a {
  height: 10%;
}
.card2:hover {
  transform: scale(1.02);
}
.card3 {
  margin: var(--size-base);
  background-color: white;
  border-radius: 1em;
  overflow: hidden;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
}
.card3 p {
  text-align: center;
}
.card3 a {
  height: 10%;
}
.card3:hover {
  transform: scale(1.02) rotate(5deg);
}
.section2-cardImg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80%;
  width: 100%;
}
.section2-cardImg:hover{
  background-position: right;
}
.section2-cardImg img {
  border-radius: 1em;
}
.section2-cardImg1 {
  background-image: url(./images/writingUptrend.jpg);
  transition: 0.8s;
}
.card1:hover .section2-cardImg1 {
  transform: scale(1.25);
}
.section2-cardImg2 {
  background-image: url(./images/dumbell_fitness.jpg);
  transition: 0.8s;
}
.card2:hover .section2-cardImg2 {
  transform: scale(1.25);
}
.section2-cardImg3 {
  background-image: url(./images/goldenDollar.jpg);
  transition: 0.8s;
}
.card3:hover .section2-cardImg3 {
  transform: scale(1.25);
}
.section2-Button {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: var(--clr-bg-color);
  color: var(--clr-color);
  font-size: var(--size-base);
}
/* section 2 end */
/* section 3 (about us) */
.section3-Container {
  height: calc(100svh);
  display: flex;
  justify-content: space-between;
  /* pointer-events: none; */
  background-image: linear-gradient(rgb(196, 195, 253), #f6f6ff);
}
/* .section3-Container:hover{
  background-color: black;
}
.section3-Container .section3-right button{
  pointer-events: auto;
}
.section3-Container .section3-right button:hover{
  background-color: red;
} */
.section3-left {
  width: 60%;
  display: grid;
  place-items: center;
}
.section3-ImgContainer {
  height: 60%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3-left img {
  height: 100%;
  width: 100%;
  border-radius: var(--size-xl);
  transition: 1s;
}
.section3-ImgContainer:hover img {
  transform: scale(1.05) rotate(-1.5deg);
}
.section3-right {
  padding: 2em;
  width: 40%;
  display: flex;
  color: #8c92e6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;
  background-image: linear-gradient(rgb(196, 195, 253), #f6f6ff);
  position: relative;
  transition: 2s;
}
.section3-right::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#b1b6f7 30%, #f7f7ff);
  opacity: 0;
  transition: 1s;
}
.section3-right > * {
  position: relative;
}
.section3-right:hover::before {
  opacity: 1;
}
.section3-right:hover {
  color: black;
  background-position: bottom;
}
.section3-right h1 {
  margin-bottom: 1em;
}
.section3-right ul li {
  margin: 1em;
}
.section3-right button {
  margin-top: 1em;
  height: 3em;
  width: 10em;
  border-radius: 1em;
  background-color: #8c92e6;
  color: black;
  border: 1px solid #5159be;
  transition: 0.5s;
  pointer-events: auto;
}
.section3-right button:hover {
  transform: scale(1.1);
  color: white;
  background-color: #5159be;
}
/* section 3 end */
/* section 4 (did you know) start */
.section4-Container {
  height: 80svh;
  background-image: linear-gradient(#f6f6ff, #ffffff, #e6e6f9);
  display: grid;
  place-items: center;
  position: relative;
}
.section4-mid {
  height: 90%;
  width: 80%;
  border-radius: 2em;
  background-color: #c9c8fd;
  display: flex;
  border: 2px solid transparent;
  justify-content: space-between;
  overflow: hidden;
  transition: 0.3s;
}
.section4-mid:hover {
  border-radius: 3em;
  border: 2px solid #8c92e6;
  box-shadow: 0px 0px 20px #8c92e6;
}
.section4-mid-h1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-5xl);
}
.section4-mid h1 {
  font-size: var(--size-5xl);
  position: relative;
  z-index: 10;
}
.section4-mid h1::before {
  content: "";
  height: 3px;
  width: 0px;
  background-color: #0011ff;
  left: 0;
  bottom: 0;
  position: absolute;
  transition: 0.8s;
  z-index: -15;
}
.section4-mid h1:hover::before {
  height: 3px;
  width: 100%;
  z-index: 1;
}
.section4-mid h1::after {
  content: "";
  height: 4px;
  width: 0px;
  background-color: #ff0000;
  left: 0;
  bottom: 0;
  position: absolute;
  transition: 0.9s;
  z-index: -10;
}
.section4-mid h1:hover::after {
  height: 4px;
  width: 60%;
}
.section4-mid-left {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 40%;
  text-align: center;
}
.marquee {
  height: 40%;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  display: grid;
  place-items: center;
  max-width: 1536px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}
.item {
  padding: 1em;
  width: 50%;
  height: 90%;
  border-radius: 1em;
  box-shadow: 2px 6px 7px #9096e8;
  font-size: var(--size-3xl);
  text-align: center;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 90s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
}
.item:hover {
  background-color: #9197e9;
  color: white;
  box-shadow: 2px 6px 10px #acb1f9;
  transform: scale(1.03);
  border-right: 2px solid #c9c8fd;
  border-bottom: 2px solid #c9c8fd;
}
.item1 {
  animation-delay: calc(90s / 8 * (8 - 1) * -1);
}
.item2 {
  animation-delay: calc(90s / 8 * (8 - 2) * -1);
}
.item3 {
  animation-delay: calc(90s / 8 * (8 - 3) * -1);
}
.item4 {
  animation-delay: calc(90s / 8 * (8 - 4) * -1);
}
.item5 {
  animation-delay: calc(90s / 8 * (8 - 5) * -1);
}
.item6 {
  animation-delay: calc(90s / 8 * (8 - 6) * -1);
}
.item7 {
  animation-delay: calc(90s / 8 * (8 - 7) * -1);
}
.item8 {
  animation-delay: calc(90s / 8 * (8 - 8) * -1);
}
@keyframes scrollLeft {
  to {
    left: -60em;
  }
}
/* section 4 end */
/* section 5 (newsletter) */

.section5-Container {
  height: 80svh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section5-NewsContainer {
  height: 80%;
  width: 90%;
  padding: 4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section5-newsLetterIntro {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  padding: 1em;
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(90deg, #c9c8fd, #9096e8);
  /* background-size: 300%; */
  /* background-position: 0 100%; */
  transition: 2s ease;
}
/* .section5-Container:hover .section5-newsLetterIntro{
  background-image: linear-gradient(90deg, #9096e8, #c9c8fd);
  background-position: 100% 0;
} */
.section5-newsLetterIntro img {
  height: 50%;
}
.section5-newsLetter {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  height: 90%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 5px solid transparent;
  background-image: linear-gradient(90deg, #9096e8, #c9c8fd);
  transition: 0.7s ease;
}
.section5-Container:hover .section5-newsLetter {
  border-top-right-radius: 5em;
  border-bottom-right-radius: 5em;
  border-right: 5px solid #9197e8;
  box-shadow: 5px 0px 7px #9096e8;
}
.newsletter-container {
  width: 100%;
  padding: 20px;
  border-radius: 1em;
}
.header {
  text-align: center;
  color: var(--clr-color);
  padding: 0.5em;
  border-radius: 1em 1em 0 0;
}
.header h1 {
  font-size: var(--size-xl);
}
.content {
  margin: 0.7em 0;
}
.content h2 {
  color: white;
  font-size: 1.1em;
}
.content p {
  font-size: var(--size-base);
}
.newsFooter {
  text-align: center;
  font-size: var(--size-s);
  color: white;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
.newsFooter a {
  text-decoration: none;
}
.cta-button {
  background-color: #757efa;
  color: #fff;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-align: center;
  display: block;
  margin: 1em;
  border-radius: 1em;
  text-decoration: none;
}
/* section 5 end */
/* section 6 (footer) */
.section6 {
  background-image: linear-gradient(#f6f6fe, #abb1fc);
  height: 30svh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section6 .about {
  display: flex;
  flex-direction: column;
}
.section6 .pages {
  display: flex;
  flex-direction: column;
}
.section6 .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.section6 .logo {
  margin-bottom: 30px;
}
.section6 h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
.section6 p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
.section6 a {
  font-size: 13px;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}
.section6 .follow {
  margin-top: 20px;
}
.section6 .follow i {
  color: var(--color);
  padding-right: 4px;
  cursor: pointer;

  &:hover {
    color: var(--color);
  }
}
.section6 .install .row img {
  border: 2px solid var(--color);
}
.section6 .copyright {
  width: 100%;
  text-align: center;
}
.copyright {
  /* background-color: #686fd8; */
  background-image: linear-gradient(#abb1fc, #838aeb);
  display: grid;
  place-items: center;
}
.copyright p {
  display: grid;
  place-items: center;
  height: 2em;
  border-top: 1px solid black;
  width: 95%;
  color: white;
  text-align: center;
}
/* section 6 end */

/*extra-small (xs)*/
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/*small (sm)*/
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/*medium (md)*/
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/*large (ld)*/
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/*extra-large (xl)*/
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/*extra-extra large (2xl)*/
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
